@import "./vendor.scss";

$standard-input-width : 300px;

#app {
  text-align: center;
  margin-top: 60px;
}

article {
  max-width: 525px;
  margin: auto;
}

.footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:70px;   /* Height of the footer */
  background:#a8a8a8;
  padding: 0 0 0 0 ;
}

.heading {
  font-size: 20px;
}

.input {
  max-width: 90%;
  display: inline;
}

.footer-button {
  height: 70px;
  width: 50%;
  margin: auto;
}

.is-selected {
  background-color: green;
  color: black;
}

.message-header {
  margin: 0 0 0 0
}



.vdp-datepicker input {
  width: 20px;
  height: inherit;
}

column .datePicker {
  width: 200px;
}

.fa {
  font-size: 19px;
}



//calendar CSS

.comp-full-calendar {
  font-size: inherit;
  height: auto;
}

.full-calendar-header {
  width: 520px;
}

.dates {
  height: 40px;
}
.header-left {
  width: 0px;
}
.header-right {
  width: 0px;
}
.header-center {
  width: 10px;
}
.header-center span{
  font-size: 13px;
}

.events-day {
  min-height: 50px;
}

.full-calendar-body .dates .week-row .day-cell {
    flex: 1;
    min-height: 50px;
    padding: 4px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.full-calendar-body .dates .dates-events .events-week .events-day {
    cursor: pointer;
    flex: 1;
    min-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}
