@import "./vendor.scss";

$standard-input-width : 300px;

#app {
  text-align: center;
  margin-top: 60px;
}

article {
  max-width: 525px;
  margin: auto;
}

.footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:70px;   /* Height of the footer */
  background:#a8a8a8;
  padding: 0 0 0 0 ;

}

.heading {
  font-size: 20px;
}

.input {
  max-width: $standard-input-width;
}

.footer-button {
  height: 70px;
  width: 25%;
}

.is-selected {
  background-color: green;
  color: black;
}


.message-header {
  margin: 0 0 0 0
}


table {
  text-align: center;
  margin: 0px auto;
  margin-top: 30px;
}
