@import "./vendor.scss";

$standard-input-width : 300px;

#app {
  text-align: center;
  margin-top: 60px;
}

article {
  max-width: 525px;
  margin: auto;
}

.footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:70px;   /* Height of the footer */
  background:#a8a8a8;
  padding: 0 0 0 0 ;
}

.field{
  max-width: 500px;
  width: 90%;
  text-align: center;
  margin: auto;
}


.heading {
  font-size: 20px;
}

.input {
  display: inline;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.footer-button {
  height: 70px;
  width: 50%;
  margin: auto;
}

.is-selected {
  background-color: green;
  color: black;
}


.tile{
  margin-left: 20px;
  margin-right: 20px;
}

.abcRioButtonBlue {
  margin: auto;
}
