$completedColor : #d3ffdd;
$toDoColor: white;

.task-name-input-disabled {
  width: 90%;
  border: none;
  cursor: move;
}

.task-name-input-enabled {
  width: 90%;
  border: 1px solid black;
  cursor: auto;
}

.task-list{
  margin-top: 20px;
}


.task-name-box{
  cursor: move;
  padding: 5px;
}

.task-name-span i{
  padding-top: 10px;
  cursor: auto;
  font-size: 20px;
}

.show {
  display: show;
}

.hide {
  display: none;
}

.taskCompleted  {
  background-color: $completedColor;
}
