.task-name-input {
  border: none;
  max-width: 360px;
  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  &:focus {
    border: none;
  }
}

.task-list{
  margin-top: 20px;
}
