.comp-full-calendar {
  font-size: inherit;
  height: auto;
}

.header-center span{
  font-size: 20px;
}

.full-calendar-body .dates .week-row .day-cell {
  min-height: 50px;
  padding: 4px;
}

.full-calendar-body .dates .dates-events .events-week .events-day {
  cursor: pointer;
  min-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-calendar-body .dates .dates-events .events-week .events-day .event-box .event-item.is-start {
  cursor: pointer;
  margin-left : 1px;
  margin-right : 1px;
  margin-bottom : 2px;
  margin-left : 1px;
}

.full-calendar-body .weeks .week {
  background-color: #e9f9d9;
}
